.navbar {
    padding: 2px;
}

.navlink {
    text-decoration: none;
    color: inherit;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list > ul {
    list-style: none;
    display: flex;
}

